body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 600px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-bg {
  background-color: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background-color: #111;
    padding: 12px 16px;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 550px) {
  .header {
    justify-content: center;
  }

  .header-menu {
    justify-content: center;
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
  }
}

/* introducao */

.introducao-bg {
  background-color: #000;
  color: white;
  box-shadow: inset 0px -120px white;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

.introducao {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  gap: 0 40px;
  padding: 0px 20px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
  font-size: 4rem;
  line-height: 1.125;
}

.introducao-conteudo h1 span {
  color: #fb0;
}

.introducao-conteudo p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao-conteudo a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #320;
  font-size: 1.125rem;
  font-weight: bold;
}

.introducao-conteudo a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1000px) {
  .introducao-conteudo h1 {
    font-size: 3rem;
  }

  .introducao-conteudo p {
    font-size: 1.2rem;
  }

  .introducao-conteudo a {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111;
  }

  .introducao {
    grid-template-columns: 1fr;
    padding-top: 40px;
  }

  .introducao-conteudo {
    padding-bottom: 40px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
