.introducao-bg {
  background-color: var(--cor-12);
  box-shadow: inset 0px -120px var(--cor-0);
}

.introducao img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
  }

  .introducao {
    grid-template-columns: 1fr;
    padding-top: 40px;
  }

  .introducao-conteudo {
    padding-bottom: 40px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
